h1 {
font-size: 50px;
text-align: center;
background-color:greenyellow;
color: white;
}

p{
    font-size: medium;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    color: green;
}